body {
    text-align: center;
    padding: 3rem 5rem;
}

form {
  margin: 0 4rem;
  text-align: center;
  display: inline-block;
}

.page {
	display: flex;
  margin: 4rem;
}
.vertical-menu {
  width: 200px;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #4CAF50;
  color: white;
}

